{% extends 'layout.html' %}

{% block title %}Murosys - File Upload{% endblock %}

{% block content %}

<h2>Follow Instructions to generate song recommendations!</h2>
    <form method="POST" action="" enctype="multipart/form-data">
      <p>Upload your music history CSV file here:    <input type="file" name="file"></p>
      <p>Click this to generate your recommendations!    <input type="submit" name="file" value="Get Recommendations"></p>
      <div class="msg">{{ msg }}</div>
      <div class="card" style="margin:50px 0">
        <div class="card-header"><b>Choose Music Features</b></div>
    
        <ul class="list-group list-group-flush">
        <li class="list-group-item">danceability
        <label class="switch ">
        <input type="checkbox" value="danceability" name="features" class="danger">
        <span class="slider round"></span>
        </label>
        </li>
        <li class="list-group-item">energy
        <label class="switch ">
        <input type="checkbox" value=energy name="features" class="danger">
        <span class="slider round"></span>
        </label>
        </li>
        <li class="list-group-item">key
        <label class="switch ">
        <input type="checkbox" value=key name="features" class="danger">
        <span class="slider round"></span>
        </label>
        </li>
        <li class="list-group-item">loudness
          <label class="switch ">
          <input type="checkbox" value=loudness name="features" class="danger">
          <span class="slider round"></span>
          </label>
        </li>
        <li class="list-group-item">mode
          <label class="switch ">
          <input type="checkbox" value=mode name="features" class="danger">
          <span class="slider round"></span>
          </label>
        </li>
        <li class="list-group-item">speechiness
          <label class="switch ">
          <input type="checkbox" value=speechiness name="features" class="danger">
          <span class="slider round"></span>
          </label>
        </li>
        <li class="list-group-item">acousticness
          <label class="switch ">
          <input type="checkbox" value=acousticness name="features" class="danger">
          <span class="slider round"></span>
          </label>
        </li>
        <li class="list-group-item">instrumentalness
          <label class="switch ">
          <input type="checkbox" value=instrumentalness name="features" class="danger">
          <span class="slider round"></span>
          </label>
        </li>
        <li class="list-group-item">liveliness
          <label class="switch ">
          <input type="checkbox" value=liveliness name="features" class="danger">
          <span class="slider round"></span>
          </label>
        </li>
        <li class="list-group-item">valence
          <label class="switch ">
          <input type="checkbox" value=valence name="features" class="danger">
          <span class="slider round"></span>
          </label>
        </li>
        <li class="list-group-item">tempo
          <label class="switch ">
          <input type="checkbox" value=tempo name="features" class="danger">
          <span class="slider round"></span>
          </label>
        </li>
        <li class="list-group-item">time_signature
          <label class="switch ">
          <input type="checkbox" value=time_signature name="features" class="danger">
          <span class="slider round"></span>
          </label>
        </li>
        </ul>
    </div>
    </form>
<div>
    <h3>Instructions on how to get your music history data from your Spotify account:</h3>
    <p>
      1. Go to "spotify.com", <br><br> 
      2. Click on "Profile" then click on "Account", <br><br> 
      3. Click on "Privacy Settings", <br><br>
      4. Scroll down to the bottom, <br><br>
      5. Click on "Request Data", <br><br>
      6. Visit your spotify registered email inbox, <br><br>
      7. Download Zip file and select your music history file, <br><br>
      8. Upload music history file to Murosys Web App and Enjoy your recommendations!
    </p>
</div>
{% endblock %}