@charset "utf-8";

body{
    background-image: url("pranay2.png");
}

header{
    text-align: center;
    font-size: 90px;
    padding: 20px;
    color: white;

}

h1{
    text-align: center;
    background: rgba(0,0,0,0.57);
    padding: 30px;
    font-size: 30px;
    color: white;
}

form{
    font-size: 30px;
    text-align: center;
    color: white;
}



