{% extends 'layout.html' %}

{% block title %}Murosys - File Upload{% endblock %}

{% block content %}
<h2>Follow Instructions to generate song recommendations!</h2>
    <form method="POST" action="" enctype="multipart/form-data">
      <p>Upload your music history CSV file here:    <input type="file" name="file"></p>
      <p>Click this to generate your recommendations!    <input type="submit" name="file" value="Get Recommendations"></p>
    </form>
<div>
    <h3>Instructions on how to get your music history data from your Spotify account:</h3>
    <p>
      1. Go to "spotify.com", <br><br> 
      2. Click on "Profile" then click on "Account", <br><br> 
      3. Click on "Privacy Settings", <br><br>
      4. Scroll down to the bottom, <br><br>
      5. Click on "Request Data", <br><br>
      6. Visit your spotify registered email inbox, <br><br>
      7. Download Zip file and select your music history file, <br><br>
      8. Upload music history file to Murosys Web App and Enjoy your recommendations!
    </p>
</div>
{% endblock %}